// Place all the styles related to the BoardGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_board {
  border: 1px solid black;
  margin: auto;
}

//.board_row .board_cell {
//  width: 50px;
//  height: 50px;
//  border: 1px solid green;
//  float: left;
//  margin: 5px;
//  padding: 5px;
//}

// TODO: make not dependent on board size, make dynamic
.wrapper {
  display: grid;
  grid-template-columns:  repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
  //grid-auto-rows: 50px;
}

.board_cell {
  //width: 100px;
  //height: 100px;
  //border: 1px solid green;
  //float: left;
  //margin: 5px;
  //padding: 5px;
}

.board_cell {
  position: relative;
  width: 100%;
  border: 1px solid green;
  background: #DADADA;
  //height: 100%;
}

.board_cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.error_cell {
  color: red;
}
