<div class="wrapper main_board col-lg-4 col-xs-12">
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>

  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>

  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>

  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>

  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
  <div class='board_cell'></div>
</div>
